
<!-- ============================================================== -->
	<!-- Start - corona Main Menu Area -->
	<!-- ============================================================== -->
	<div id="sticky-header" class="corona_main_menu d-md-none d-lg-block d-sm-none d-none">
		<div class="corona_nav_manu">
			<div class="container-fluid">
				<div class="row">
					
					<div class="col-md-8">
							<h2 style="color:lightgreen">COVID-19 <span style="color: orange">INDIA</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End - corona Main Menu Area -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
	<!-- Start - Mobile Menu Area -->
	<!-- ============================================================== -->
    <div class=" corona_main_menu  hidden-md  hidden-lg">
            <div class="menu_area mobile-menu mean-container">
                <div class="mean-bar">

                </div>
                    <div class="mean-push"></div>
            </div>					
        </div>			
	<!-- ============================================================== -->
	<!-- End - Mobile Menu Area -->
    <!-- ============================================================== -->	
    <!-- ============================================================== -->
	<!-- Start - corona Slider Area -->
	<!-- ============================================================== -->
	<div class="slider_area d-flex align-items-center" id="home">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="slider_content">
						<div class="slider_text">
							<div class="slider_thumb ">
								<div class="slider_thumb_inner rotateme">
									<img src="assets/images/01.png" alt="" />
								</div>
							</div>
							<div class="slider_text_inner pt-200">
								
								<h2>Confirmed COVID-19 Cases : <span class="cass_active">{{data?.confirmed}}</span></h2>
								<ul>
                                    <li>Active : <span style="color: rgb(238, 17, 220)">{{data?.active}}</span></li>
									<li>Recovered : <span style="color: rgb(10, 248, 10)">{{data?.recovered}}</span></li>
									<li>Deaths: <span style="color: rgb(252, 8, 8)">{{data?.deaths}}</span></li>
								</ul>
							</div>
							<div class="Slider_button pt-30">
								<div class="button">
									<a [routerLink]="['/states']">Find A States Data</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End - corona Slider Area -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
	<!-- Start - Corona Feature Area -->
	<!-- ============================================================== -->
	<div class="feature_area bg_color pb-80" id="features">
		<div class="container">
			<div class="row uper_top">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_feature mb-4">
						<div class="single_feature_icon">
							<img src="assets/images/feature1.png" alt="" />
						</div>
						<div class="single_feature_title pt-3">
							<h4>Human Contact</h4>
						</div>
						<div class="single_feature_text pt-3">
							<p>Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_feature mb-4">
						<div class="single_feature_icon">
							<img src="assets/images/feature2.png" alt="" />
						</div>
						<div class="single_feature_title pt-3">
							<h4>Air Transmission</h4>
						</div>
						<div class="single_feature_text pt-3">
							<p>How easily a virus spreads from person-to-person can vary, Some viruses are highly contagious.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_feature mb-4">
						<div class="single_feature_icon">
							<img src="assets/images/feature3.png" alt="" />
						</div>
						<div class="single_feature_title pt-3">
							<h4>Contaminated Objects</h4>
						</div>
						<div class="single_feature_text pt-3">
							<p>Restaurants, grocery stores, food processing plants, even your home—food contamination  happen.</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End - Corona Feature Area -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
	<!-- Start - Corona Service Area -->
	<!-- ============================================================== -->
	<div class="service_area bg_img pb-80 pt-100" id="service">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title center mb-5">
						<div class="section_title_thumb rotateme">
							<img src="assets/images/lg.png" alt="" />
						</div>
						<div class="section_title_content pt-2">
							<h5>Service Virus</h5>
							<h2>COVID-19 Symptoms</h2>
							<p>The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_service mb-4">
						<div class="single_service_icon rotateme">
							<img src="assets/images/s1.png" alt="" />
						</div>
						<div class="single_service_title pt-3 pb-1">
							<h4>Coughing And Sneezing</h4>
						</div>
					
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_service mb-4">
						<div class="single_service_icon rotateme2">
							<img src="assets/images/s3.png" alt="" />
						</div>
						<div class="single_service_title pt-3 pb-1">
							<h4>Strong Headacke</h4>
						</div>
					
					
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_service mb-4">
						<div class="single_service_icon rotateme">
							<img src="assets/images/s5.png" alt="" />
						</div>
						<div class="single_service_title pt-3 pb-1">
							<h4>Confusion</h4>
						</div>
					
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_service mb-4">
						<div class="single_service_icon rotateme2">
							<img src="assets/images/s2.png" alt="" />
						</div>
						<div class="single_service_title pt-3 pb-1">
							<h4>Hot Fever</h4>
						</div>
					
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_service mb-4">
						<div class="single_service_icon rotateme">
							<img src="assets/images/s6.png" alt="" />
						</div>
						<div class="single_service_title pt-3 pb-1">
							<h4>Shortness Of Breath</h4>
						</div>
						
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single_service mb-4">
						<div class="single_service_icon rotateme2">
							<img src="assets/images/s4.png" alt="" />
						</div>
						<div class="single_service_title pt-3 pb-1">
							<h4>Sore Throat</h4>
						</div>
						
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End - Corona Service Area -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
	<!-- Start - Corona Accordion Area -->
	<!-- ============================================================== -->
	<div class="accordion_area bg_color pb-60 pt-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title center mb-5">
						<div class="section_title_thumb rotateme">
							<img src="assets/images/lg.png" alt="" />
						</div>
						<div class="section_title_content pt-2">
							<h5>F A Q</h5>
							<h2>Some Question & Answer</h2>
							<p>The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
					<div id="accordion">
					  <div class="card mb-4">
						<div class="card-header" id="headingOne">
						  <h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							   What is a COVID-19?
							</button>
						  </h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						  <div class="card-body">
							On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.
						  </div>
						</div>
					  </div>
					  <div class="card mb-4">
						<div class="card-header" id="headingTwo">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							   How to Protect Yourself ?
							</button>
						  </h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						  <div class="card-body">
							Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority. Many countries around the world have seen cases of COVID-19 and several have seen outbreaks. Authorities in China and some other countries have succeeded in slowing or stopping their outbreaks. However, the situation is unpredictable so check regularly for the latest news.
						  </div>
						</div>
					  </div>
					  <div class="card mb-4">
						<div class="card-header" id="headingThree">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							   Symptoms & Testing
							</button>
						  </h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						  <div class="card-body">
							The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin gradually. Some people become infected but don’t develop any symptoms and don’t feel unwell. Most people (about 80%) recover from the disease without needing special treatment. Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing. Older people, and those with underlying medical problems like high blood pressure, heart problems or diabetes, are more likely to develop serious illness. People with fever, cough and difficulty breathing should seek medical attention.
						  </div>
						</div>
					  </div>  
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ============================================================== -->
	<!-- End - Corona Accordion Area -->
	<!-- ============================================================== -->
	
	
	
	<!-- ============================================================== -->
	<!-- Start - corona Blog Area -->
	<!-- ============================================================== -->
	<div class="blog_area bg_img pb-60 pt-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title center mb-5">
						<div class="section_title_thumb rotateme">
							<img src="assets/images/lg.png" alt="" />
						</div>
						<div class="section_title_content pt-2">
							<h5>Popular Blog</h5>
							<h2>Latest Update COVID-19</h2>
							<p>The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End - corona Blog Area -->
	<!-- ============================================================== -->
	
	<!-- ============================================================== -->
	<!-- Start - corona Footer Area -->
	<!-- ============================================================== -->
	<div class="footer_area bg_color pt-80 pb-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single_footer">
						<div class="single_footer_title pb-2">
                                <h3 style="color:lightgreen">COVID-19 <span style="color: orange">INDIA</span></h3>
						</div>
						<div class="single_footer_text">
							<p>The most common symptoms of COVID-19 are fever, tiredness, and dry cough. </p>
						</div>
						
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_footer">
						<div class="single_footer_title pb-4">
							<h4>Important Links</h4>
						</div>
						<div class="single_footer_body">
							<ul>
                                    <li><a [routerLink]="['/states']">All States</a></li>
                                    <li><a [routerLink]="['/home']">Home</a></li>							
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_footer">
						<div class="single_footer_title pb-4">
							<h4>Recent Update</h4>
						</div>
						<div class="single_footer_recent">
							<div class="single_footer_recent_thumb">
								<img src="assets/images/recent1.jpg" alt="" />
							</div>
							<div class="single_footer_recent_content">
								<a href="#">Caring for someone at home</a>
								
							</div>
						</div>
						<div class="single_footer_recent mt-3">
							<div class="single_footer_recent_thumb">
								<img src="assets/images/recent2.jpg" alt="" />
							</div>
							<div class="single_footer_recent_content">
								<a href="#">What to Do if You are feeling</a>
								
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_footer">
						<div class="single_footer_title pb-4">
							<h4>Social Media</h4>
						</div>
						<div class="footer_icon pt-2">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
						<div class="single_footer_address">
							<ul>
								<li><span>Address:</span> India.</li>
								<li><span>Telephone:</span> +323 254 123</li>
								<li><span>Email:</span> example@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Shape Image -->
		<div class="footer_shape">
			<div class="clouds">
				<img src="assets/images/boy1.png" alt="01" class="cloud1"/>
			</div>
		</div>
		<div class="footer_shape">
			<div class="clouds">
				<img src="assets/images/boy3.png" alt="02" class="cloud2"/>
			</div>
		</div>
		
		<div class="footer_shape">
			<div class="clouds">
				<img src="assets/images/boy2.png" alt="03" class="cloud3"/>
			</div>
		</div>
		<div class="footer_shape">
			<div class="clouds">
				<img src="assets/images/boy4.png" alt="04" class="cloud4"/>
			</div>
		</div>
	</div>
	